{% spaceless %}
    <!DOCTYPE HTML>
    <html>
        <head>
            <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
            <title>{% block title %} comic mutant {% endblock %}</title>
            {% block meta_content_type %}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            {% endblock %}
            <meta name="description" content="{% block meta_description %}{% endblock %}" />
                {% block comic_css %}
                {% endblock %}
        </head>
        <body >
            {% include 'ZungleeComicBundle:desktop/common:header.html.twig' %}
            {% block body_content %}
            {% endblock %}
            {% include 'ZungleeComicBundle:desktop/common:footer.html.twig' %}
        </body>
    </html>
{% endspaceless %}