<!DOCTYPE html>
<html>
<head>
	<title>comic mutant - super hero doga</title>
<style>  
html { 
  background: url("{{ asset('images/doga/siting.jpg')}}") no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>
</head>
<body>

  <div>
  	Power :  super strength
  </div>

<div>weakness: Innocent Public </div>
<div>Moto : No Mercy if found guilty. Death is Punishment </div>
</body>
</html>